################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HPlusSport/HPlusSport.API/obj
/HPlusSport/.vs/HPlusSport
/HPlusSport/HPlusSport.Web/bin/Debug/net6.0
/HPlusSport/HPlusSport.Web/obj
/HPlusSport/HPlusSport.Web/wwwroot
